extends layout

block content
	.container-fluid
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href="/alliances") Alliances  
	.container-fluid
		.row-fluid
			table.table
				thead
					tr
						th Name
				tbody
				for alliance in alliances 
					tr
						td
							a(href="/alliances/" + alliance.id) #{alliance.name}